
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

/*  1) Animation:-  */
.ball{
    background-color: rgb(254, 69, 1);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    animation: X-axis 3s linear infinite alternate ,
               Y-axis 2s ease-out infinite alternate;
    background-image: url('https://qph.cf2.quoracdn.net/main-qimg-1a68d0e30e4cd360db765e1e9718b5c1'); 
    background-position: center center;   
    background-repeat: no-repeat; 
    background-size: cover;      
}
.ball1{
    /* background-color: rgb(254, 69, 1); */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    animation: W-axis 3s linear infinite alternate ,
               Z-axis 1.4s ease-out infinite alternate;

    background-image: url('https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png');
    background-position: center center;
    background-size: contain;
              

}
.ball2{
    background-color: rgb(254, 69, 1);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    animation: A-axis 3s linear infinite alternate ,
               B-axis 1s ease-out infinite alternate;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png'); 
    background-position: top right; 
    background-repeat: no-repeat;   
    background-size: contain;      
               
}
@keyframes X-axis {
    from{
        left: 20%;
    }
    to{
        left: 80%;
    }
}
@keyframes Y-axis {
    from{
        bottom: 0%;
    }
    to{
        bottom: -40%;
    }
    
}
@keyframes W-axis {
    from{
        left: 0;
    }
    to{
        left: 90%;
    }
}
@keyframes Z-axis {
    from{
        bottom: 0%;
    }
    to{
        bottom: 30%;
    }
    
}
@keyframes A-axis {
    from{
        left: 65%;
    }
    to{
        left: -20%;
    }
}
@keyframes B-axis {
    from{
        bottom: -30%;
    }
    to{
        bottom: 30%;
    }
    
}
 